@media all and (max-width: 640px) {
/* When the screen is smaller than 640px; these CSS rules will be applied */
    .box img {
        width: 400px;
        height: 400px;
    }
}

body {
    background-color: white;
    background-size: cover;
    font-family: Arial;
    padding-top: 60px;
}


.container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.day-box {
	background:#e6f3ff;
	border: 1px solid #5f66b8;
	padding: 20px;
	margin-bottom: 10px;
}

/*Everything surronding the boxes*/

.nav {
    text-align: center;
    background: -webkit-linear-gradient(white, lightgrey);
    padding-top: 5px;
    margin-bottom: 15px;
    opacity: 0.9;
    border: 2px solid black;
    border-radius: 2em;

}
/*Top navigation bar and box surrounding internal buttons*/

.nav ul {
    display: inline-block;
    list-style: none;
    padding: 0;
}

.nav ul li {
    float: left;
    margin-bottom: 15px;
}

.nav ul li a {
    padding: 10px 20px;
    background: -webkit-linear-gradient(white, #FBFFFE);
    margin-right: 5px;
    color: #000;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 2em;
}

.nav ul li a:hover {
    background: #000;
    color: #fff;
}

.top-title {
    background: -webkit-linear-gradient(white, lightgrey);
    border: 3px solid black;
    padding: 10px;
    margin-bottom: 10px;
    opacity: 0.8;
    text-align: center;
    border-radius: 2em;
}

.box {
    background: white;
    float: left;
    margin-bottom: 15px;
    margin-top: 25px;
    border: 3px solid black;
    border-radius: 0.5em;
    padding: 10px;
    opacity: 0.9;
}

.box:hover {
    border: 3px solid #000;

    opacity: 1.0;
}

.box-right {
    margin-right: 0;
}

.box img {
    max-width: 200px;
    float: left;
    margin-right: 15px;
}

.special-box {
    background: #000;
}

.clearfix {
    clear: both;
}

.login-box{
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: 150px;
  margin-left: -100px;

}

.register-box {
   position: relative;
  top: 50%;
  left: 50%;
  margin-top: 0px;
  margin-left: -100px;


}

